*{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
  }
.landing-page {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-content: center;
}

.start, .content {
    transition: 0.5s ease;
    opacity: 0;
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 40px;
}

.start {
    display: grid;
    font-size: 40px;
    place-content: center;
}

.opacity {
    opacity: 1 !important;
}

.content {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    grid-template-columns: 35% 1fr;
    grid-template-rows: 10% 1fr 50px;
    padding: 100px;
    padding-top: 75px;
    box-sizing: border-box;
}

.aside {
    background-color: white;
    box-shadow: 6px 8px 100px rgba(67, 67, 67, 0.318);
    border-radius: 10px;
    height: 100%;
    max-height: 60vh;
    min-width: 400px;
    width: 25vw;
}

.python-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(51, 47, 41);
    box-shadow: 6px 8px 100px rgba(67, 67, 67, 0.318);
    border-radius: 10px;
    height: 60vh;
    max-height: 60vh;
    aspect-ratio: 1;
}

.deco {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
}
.red {
    background-color: red;
}
.yellow {
    background-color: rgb(228, 217, 12);
}
.green {
    background-color: rgb(10, 190, 10);
}

.window-decorations  {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px 15px;
}

.title-bar {
    color: white;
    font-size: 18px;
}
.controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.window {
    height: 100%;
    width: 100%;
}

.video-output {
    height: 100%;
    width: 100%;
    background-color: white;
    color: white;
    font-size: 18px;
    border-radius:10px;
}


  body{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #d0d7cf;
    overflow: hidden;
    color:#323232
  }
  body .air{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
    background-size: 1000px 100px
  }
  body .air.air1{
    animation: wave 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
  }
  body .air.air2{
    animation: wave2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
  }
  body .air.air3{
    animation: wave 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
  }
  body .air.air4{
    animation: wave2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
  }
  @keyframes wave{
    0%{
      background-position-x: 0px; 
    }
    100%{
      background-position-x: 1000px; 
    }
  }
  @keyframes wave2{
    0%{
      background-position-x: 0px; 
    }
    100%{
      background-position-x: -1000px; 
    }
  }

  video {
    width: 100%;
    height:auto;
  }

  h2{
    grid-column: span 2;
    color:#323232;
    font-weight: 400;
  }

  h3{
    text-align: center;
    color: #323232;
    font-weight: lighter;
  }

  .navigation-buttons {
    grid-column: span 2;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .dot {
    height: 25px;
    width: 25px;
    background-color: rgb(71, 71, 71);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s ease;
  }

  .dot:hover {
    background-color: rgb(0, 0, 0);
    scale: 1.1;
  }

  .active {
    background-color: rgb(0, 0, 0);
    scale: 1.1;
  }

  .d-none {
    display: none !important;
  }

  .content1{
    color:#323232;
    font-weight: 400;
    display: flex;
    justify-content: center;
  }

  .content2{
    color:#323232;
    font-weight: 400;
    display: flex;
    justify-content: center;
  }

  .content3{
    color:#323232;
    font-weight: 400;
    display: flex;
    justify-content: center;
  }